In [1]:
import pandas as pd
df = pd.read_csv('train.csv')

In [2]:
df

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...
...,...,...,...
287108,fffdfb56fdf1a12d364562cc2b9b1d4de7481dee,By . James Rush . Former first daughter Chelse...,Chelsea Clinton said question of running for o...
287109,fffeecb8690b85de8c3faed80adbc7a978f9ae2a,An apologetic Vanilla Ice has given his first ...,"Vanilla Ice, 47 - real name Robert Van Winkle ..."
287110,ffff5231e4c71544bc6c97015cdb16c60e42b3f4,America's most lethal sniper claimed he wished...,America's most lethal sniper made comment in i...
287111,ffff924b14a8d82058b6c1c5368ff1113c1632af,"By . Sara Malm . PUBLISHED: . 12:19 EST, 8 Mar...",A swarm of more than one million has crossed b...
287112,ffffd563a96104f5cf4493cfa701a65f31b06abf,(CNN)Former Florida Gov. Jeb Bush has decided ...,Other 2016 hopefuls maintain that Bush's annou...

In [ ]:
pip install transformers

In [9]:
import pandas as pd
import re
import numpy as np
from transformers import BartTokenizer
from tqdm import tqdm

# Load tokenizer
tokenizer = BartTokenizer.from_pretrained("facebook/bart-large-cnn")

# Drop rows with missing article or summary
df = df.dropna(subset=['article', 'highlights']).reset_index(drop=True)

# Remove empty or very short texts (optional but helpful)
df = df[df['article'].str.len() > 100]
df = df[df['highlights'].str.len() > 10]
df = df.reset_index(drop=True)

# Clean function
def clean_text(text):
    text = re.sub(r'\s+', ' ', text)                # Remove extra whitespace, newlines
    text = re.sub(r'[^a-zA-Z0-9.,!?\'\"\s]', '', text)  # Remove unwanted symbols
    text = text.strip()
    return text

# Apply cleaning
df['clean_article'] = df['article'].apply(clean_text)
df['clean_summary'] = df['highlights'].apply(clean_text)

In [15]:
newdf = df[['clean_article', 'clean_summary']]

In [17]:
newdf

,clean_article,clean_summary
0,"By . Associated Press . PUBLISHED . 1411 EST, ...","Bishop John Folda, of North Dakota, is taking ..."
1,CNN Ralph Mata was an internal affairs lieute...,Criminal complaint Cop used his role to help c...
2,A drunk driver who killed a young woman in a h...,"Craig EcclestonTodd, 27, had drunk at least th..."
3,CNN With a breezy sweep of his pen President ...,Nina dos Santos says Europe must be ready to a...
4,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 20 win at Sc...
...,...,...
287107,By . James Rush . Former first daughter Chelse...,Chelsea Clinton said question of running for o...
287108,An apologetic Vanilla Ice has given his first ...,"Vanilla Ice, 47 real name Robert Van Winkle ..."
287109,America's most lethal sniper claimed he wished...,America's most lethal sniper made comment in i...
287110,"By . Sara Malm . PUBLISHED . 1219 EST, 8 March...",A swarm of more than one million has crossed b...
287111,CNNFormer Florida Gov. Jeb Bush has decided to...,Other 2016 hopefuls maintain that Bush's annou...

In [19]:
newdf = newdf.sample(frac=1, random_state=42).reset_index(drop=True) #shuffle 
newdf = newdf.head(10000)  # or any number your RAM can handle

In [21]:
newdf

,clean_article,clean_summary
0,NEW YORK CNN All the news that's fit to print...,New York Times admits pictures in recent photo...
1,A couple who weighed a combined 32st were sham...,Couple started piling on pounds after the birt...
2,"By . Jason Groves, Political Correspondent . P...",More than 60 per cent believe cash Britain giv...
3,"At a political event in Wilmington, Delaware, ...",Clark S. Judge believes Obama's reaction to th...
4,"By . Damien Gayle . PUBLISHED . 1242 EST, 15 J...",First thing grandfatherofnine John Baxter boug...
...,...,...
9995,"By . Belinda Robinson . PUBLISHED . 1237 EST, ...",Bristol City Council have proposed a ban on ki...
9996,Two men who had their convictions for the 1995...,Eric Glisson and Cathy Watkins were convicted ...
9997,By . Alex Gore . A drug addict lesbian couple ...,Jury hears Jodie and Kelly Louise Barnes beat ...
9998,A 16yearold girl was gunned down by her uncle ...,Rehana Bibi fought her uncle when he demanded ...
9999,"By . Damien Gayle . PUBLISHED . 1532 EST, 8 Ma...",Choe Ryong Hae seen close to North Korean lead...